block head
  html(lang='en')
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      meta(name='description' content='')
      meta(name='author' content='')
      title deu match!
      script(src='https://use.fontawesome.com/3e33bcd5f7.js')
      link(rel='icon' href='../static/img/favicon.ico')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
      script(src='../static/assets/easypiechart/jquery.easypiechart.min.js')
      script(src='../static/js/functions.js')
      link(href='../static/assets/bootstrap/css/bootstrap.css' rel='stylesheet')
      link(href='../static/css/styles.css' rel='stylesheet')
      //- link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')