div(class='header clearfix')
  nav(class='navbar navbar-expand-lg navbar-light bg-light')
    a(class='navbar-brand' href='#') #[img(src='../static/img/icon.png' width='30' height='30' class='d-inline-block align-top' alt='')] deu match!
  p(class='twitter-upper-btn')